<mat-toolbar>
  <mat-icon style="margin-right: 1rem;">menu</mat-icon>
  <a mat-button href="/">Image Upload</a>
</mat-toolbar>

<div class="container row">
  <div class="col-md-12">
    <h1>Upload Image</h1>
  </div>
</div>

<form class="input-form">
  <h4>Upload Image</h4>
  <mat-form-field class="form-field" appearance="fill">
    <input hidden type="file" id="fileInput" #fileInput (change)="onFileChanged($event)">
    <input matInput readonly mat-button class="input-btn" (click)="fileInput.click()" />
    <mat-label class="form-label" *ngIf="selectedFile; else newFile">{{ selectedFile.name }}</mat-label>
    <ng-template #newFile>
      <mat-label class="form-label">Choose File</mat-label>
    </ng-template>
    <button mat-icon-button matSuffix (click)="onUpload()">
      <mat-icon style="font-size: 1.5rem;">file_upload</mat-icon>
    </button>
  </mat-form-field>
  <h4>View Image</h4>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label class="form-label">Image Name</mat-label>
    <input matInput name="name" [(ngModel)]="imageName" (click)="getImageNames()" />
    <mat-select name="name" [(ngModel)]="imageName">
      <mat-option *ngFor="let name of imageNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-select>
    <button mat-icon-button matSuffix (click)="getImage()">
      <mat-icon style="font-size: 1.5rem;">file_download</mat-icon>
    </button>
  </mat-form-field>

</form>

<hr>
<div class="container row">  
  <div class="col-md-12 mt-2">
    <div *ngIf="retrievedImage">
      <img [src]="retrievedImage" alt="retrived image">
    </div>
  </div>
</div>