<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Book Store</a>
      <ul class="navbar-nav me-auto">
        <li><a routerLink="/shop" class="nav-link">Shop</a></li>
        <li class="nav-item dropdown">
          <a  href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="admin/users">Users</a></li>
            <li><a class="dropdown-item" routerLink="admin/books">Books</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
