<h1>Add User</h1>
<form #receivedUser="ngForm">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" placeholder="User name" />
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Password" />
  <label for="type">Type</label>
  <input type="text" class="form-control" id="type" [(ngModel)]="user.type" name="type" placeholder="Type name" />
  <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>